<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Article</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<header>
    <h1 th:text="${article.getTitle()}">VALUE</h1>
</header>
<div class="article">
    <p th:text="${article.getArticleBody()}">VALUE</p>
</div>
<div class="edit_delete">
    <form th:method="GET" th:action="@{/siteOfArticles/{id}/edit(id=${article.getArticle_id()})}">
        <input type="submit" value="Edit"/>
    </form>

<form th:method="DELETE" th:action="@{/siteOfArticles/{id}(id=${article.getArticle_id()})}">
    <input type="submit" value="Delete"/>
</form>
</div>
<footer>
    <div class="links">

        <p>Go to the home page</p>
        <a href="/siteOfArticles">HomePage</a>
    </div>
</footer>
</body>
</html>